langchain
tensorflow
ipykernel
python-dotenv
langchain_community
langchain_openai
streamlit
langchain_groq
transformers
fastapi
langserve
sse_starlette
langchain_huggingface
sentence-transformers
langchain_huggingface
wheel
coincurve
torch==2.3.0
llama_index
langchain_chroma
langchain_openai
openai
tf-keras
faiss-cpu
